/Ejercicio1/src/node_modules
/Ejercicio1/dist
/Ejercicio1/.cache
/Ejercicio2/node_modules
/Ejercicio2/dist
/Ejercicio2/.cache
/Ejercicio3/node_modules
/Ejercicio3/dist
/Ejercicio3/.cache
/Ejercicio4/node_modules
/Ejercicio4/dist
/Ejercicio4/.cache
